#Uncomment when making changes to the website

#<IfModule mod_headers.c>
#	Header set Cache-Control "no-cache, no-store, must-revalidate"
#	Header set Pragma "no-cache"
#	Header set Expires 0
#</IfModule>

RewriteEngine On

RewriteCond %{HTTPS} !on
#RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
#RewriteCond %{REQUEST_URI} !^/\google[a-f0-9]{16}\.html$
#RewriteCond %{REQUEST_URI} !^/\[a-f0-9]{32}\.txt$
#RewriteCond %{REQUEST_URI} !^/atlassian-domain-verification.html$

# If we receive a forwarded http request from a proxy...
RewriteCond %{HTTP:X-Forwarded-Proto} =http [OR]

# ...or just a plain old http request directly from the client
RewriteCond %{HTTP:X-Forwarded-Proto} =""
RewriteCond %{HTTPS} !=on

# Redirect to https version
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteBase /
#Hack to fix the dev.handpoint.com shortcut
RewriteCond %{HTTP_HOST} dev.handpoint.com$ [OR]
RewriteCond %{HTTP_HOST} developer.handpoint.com$ [OR]
RewriteCond %{HTTP_HOST} developers.handpoint.com$ 
RewriteRule ^(.*)$ https://www.handpoint.com/docs/$1 [L,R=301]

#Hack to fix temporarily old configs for QA
RewriteCond %{HTTP_HOST} terminalclient.handpoint.com$
RewriteRule ^(.*)$ https://terminalclient.handpoint.io/$1 [L,R=301]

RewriteRule ^/?setup https://handpoint.atlassian.net/wiki/spaces/PD/pages/5898298/Card+Reader+User+Manuals? [R=303,L]