<div class="section section-cloudlogos">
	<div class="container">
	<!-- row 1 -->
		<div class="row">	
			<div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
				<h2>{{page.cloudlogos.title}}</h2>
			</div>	
		</div>
		<!-- END row 1 -->
		<div class="row">
			{% for row in page.cloudlogos.logos %}
			<ul class="list-inline">
			{% for logo in row.list %}
				<li><img src={{logo.image}} alt=""/></li>
			{% endfor %}
			</ul>
			{% endfor %}
	<!-- <div class="row text-center">
			<div class="col-md-12">
				<a class="btn btn-default bt-custom-out" href={{ page.cloudlogos.buttonlink }} role="button">
					{{ page.cloudlogos.buttontext }}
				</a>
			</div>
		</div>  -->
		
		</div>
	</div>
</div>
