<div class="section section-form">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-10 col-md-offset-3 col-sm-offset-1">
                <h2>{{page.contact.title}}</h2>
                <div class="form-supermodule">
                    <div class="form-group">
                        <input type="text" class="form-control half-width-form-control input-lg" placeholder="Name*"><input type="text" class="form-control half-width-form-control-right input-lg" placeholder="Email*">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control half-width-form-control input-lg" placeholder="Phone*"><input type="text" class="form-control half-width-form-control-right input-lg" placeholder="Company Name*">
                    </div>  
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Tell us about your business and how we can help you*">
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-default bt-custom-out-wh" href="#" role="button">Submit</a>
        <!-- END first form -->     
    </div>  
</div>
<!-- END sectionform -->    