<!-- FOOTER -->
<div class="footer-custom">
    <div class="container">
        <div class="row">
            <div class="col-md-20 col-sm-2 col-xs-6 footer-module">
                <!-- MOBILE ONLY -->
                <div class="visible-xs">
                    <img src="{{" /img/logo_footer.svg" | prepend: site.baseurl | replace: '//' , '/' }}" alt="" />
                    <ul class="footer-social list-inline">
                        <li><a href="https://www.facebook.com/Handpoint"><i class="fab fa-facebook-f"
                                    aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/handpointltd"><i class="fab fa-twitter"
                                    aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/handpoint/"><i class="fab fa-linkedin"
                                    aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <!-- END mobile only -->
                <ul>
                    <li>
                        <h5>Contact us</h5>
                    </li>
                    <li><a href="{{ " /contact" | prepend: site.baseurl | replace: '//' , '/' }}">Sales</a></li>
                    <li><a href="https://handpoint.atlassian.net/wiki/spaces/PD/overview">Help & Support</a></li>
                    <li><a href="https://apply.workable.com/handpoint/?lng=en">Careers</a></li>  
                </ul>

            </div>
          
            <div class="col-md-4 col-sm-4 col-xs-6 hidden-xs">
                <img src="{{" /img/logo_footer.svg" | prepend: site.baseurl | replace: '//' , '/' }}" alt="" />
                <ul class="footer-social list-inline">
                    <li><a href="https://www.facebook.com/Handpoint"><i class="fab fa-facebook-f"
                                aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/handpointltd"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/company/handpoint/"><i class="fab fa-linkedin"
                                aria-hidden="true"></i></a></li>
                </ul>
                <p><b>UK Office</b><br>
                    20 Bridge St.<br>
                    Cambridge, CB2 1UF</p>

                <p><b>US Office</b><br>
                    470 Ramona St.<br>
                    Palo Alto, CA 94301</p>

                <p><b>Iceland Office</b><br>
                    Borgartun 27<br>
                    105 Reykjavik</p>

                <p><b>Spain Office</b><br>
                    Plaza Soledad Torres Acosta 1<br>
                    28004 Madrid</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 hidden-xs">
                <img src="{{" /img/logo_footer.svg" | prepend: site.baseurl | replace: '//' , '/' }}" alt="" />
                <ul class="footer-social list-inline">
                    <li><a href="https://www.facebook.com/Handpoint"><i class="fab fa-facebook-f"
                                aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/handpointltd"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/company/handpoint/"><i class="fab fa-linkedin"
                                aria-hidden="true"></i></a></li>
                </ul>
                <p><b>UK Office</b><br>
                    20 Bridge St.<br>
                    Cambridge, CB2 1UF</p>

                <p><b>US Office</b><br>
                    470 Ramona St.<br>
                    Palo Alto, CA 94301</p>

                <p><b>Iceland Office</b><br>
                    Borgartun 27<br>
                    105 Reykjavik</p>

                <p><b>Spain Office</b><br>
                    Plaza Soledad Torres Acosta 1<br>
                    28004 Madrid</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 hidden-xs">
                <p><b>Spain Office</b><br>
                    Plaza Soledad Torres Acosta 1<br>
                    28004 Madrid</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 hidden-xs">
                <img src="{{" /img/logo_footer.svg" | prepend: site.baseurl | replace: '//' , '/' }}" alt="" />
                <ul class="footer-social list-inline">
                    <li><a href="https://www.facebook.com/Handpoint"><i class="fab fa-facebook-f"
                                aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/handpointltd"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/company/handpoint/"><i class="fab fa-linkedin"
                                aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <!-- END col -->
        </div>
        <div class="row">
            <div class="col-md-12 footer-bottom">
                ©2022 - All rights reserved . <a href="https://www.handpoint.com/docs/device/Basics/">API
                    Documentation</a> . <a href="{{ " /privacypolicy" | prepend: site.baseurl | replace: '//' , '/'
                    }}">Privacy Policy</a>
            </div>
        </div>

    </div>
</div>
