<!-- FOOTER -->
<div class="footer-custom">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-6 footer-module">
                <!-- MOBILE ONLY -->
                <div class="visible-xs">
                    <img src="img/logo_footer.svg" alt=""/>
                    <ul class="footer-social list-inline">
                        <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <!-- END mobile only -->
                <ul>
                    <li><h5>Handpoint Solutions</h5></li>
                    <li><a href="#">For Developers</a></li>
                    <li><a href="#">For Merchant Acquirers</a></li>
                    <li><a href="#">Management Platform</a></li>
                </ul>
                <!-- MOBILE ONLY -->
                <ul class="footer-module visible-xs">
                    <li><h5>Support</h5></li>
                    <li><a href="#">mPOS App Guide</a></li>
                    <li><a href="#">Help Center</a></li>
                </ul>
                <!-- END mobile only -->
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 footer-module">
                <ul>
                    <li><h5>Specs</h5></li>
                    <li><a href="#">Range of Terminals</a></li>
                    <li><a href="#">HiLite</a></li>
                    <li><a href="#">Hi5</a></li>
                    <li><a href="#">HiPro</a></li>
                    <li><a href="#">NEW! HiPlus</a></li>
                    <li><a href="#">HiStore mPOS</a></li>
                    <li><a href="#">APIs</a></li>
                    <li><a href="#">Payment Types</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">HiWay Gateway</a></li>
                    <li><a href="#">Protocols & Acquiring Platforms</a></li>
                    <li><a href="#">Geographies</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2 hidden-xs">
                <ul>
                    <li><h5>Support</h5></li>
                    <li><a href="#">mPOS App Guide</a></li>
                    <li><a href="#">Help Center</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 footer-module">
                <ul>
                    <li><h5>Insights</h5></li>
                    <li><a href="#">About Handpoint</a></li>
                    <li><a href="#">Press Releases</a></li>
                    <li><a href="#">NextGenPos</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 hidden-xs">
                <img src="img/logo_footer.svg" alt=""/>
                <ul class="footer-social list-inline">
                    <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
                <p><b>UK Office</b><br>
                20 Bridge St.<br>
                Cambridge, CB2 1UF</p>

                <p><b>US Office</b><br>
                470 Ramona St.<br>
                Palo Alto, CA 94301</p>

                <p><b>Iceland Office</b><br>
                Borgartun 27<br>
                105 Reykjavik</p>

                <p><b>Spain Office</b><br>
                Plaza Soledad Torres Acosta 1<br>
                28004 Madrid</p>
            </div>
        <!-- END col -->
        </div>
        <div class="row">
            <div class="col-md-12 footer-bottom">
            ©2019 - All rights reserved . API Documentation . Privacy Policy    
            </div>
        </div>
            
    </div>
</div>