<!-- FOOTER -->
<div class="footer-custom">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-6 footer-module">
                <!-- MOBILE ONLY -->
                <div class="visible-xs">
                    <img src="{{"/img/logo_footer.svg" | prepend: site.baseurl | replace: '//', '/'}}" alt=""/>
                    <ul class="footer-social list-inline">
                        <li><a href="https://www.facebook.com/Handpoint"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/handpoint/"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/handpointltd"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <!-- END mobile only -->
                <ul>
                    <li><h5>Handpoint Solutions</h5></li>
                    <li><a href="{{ "/solutionsfordevelopers" | prepend: site.baseurl | replace: '//', '/' }}">For Developers</a></li>
                    <li><a href="{{"/acquirers" | prepend: site.baseurl | replace: '//', '/' }}">For Merchant Acquirers</a></li>
                    <li><a href="{{"/management" | prepend: site.baseurl | replace: '//', '/' }}">Management Platform</a></li>
                </ul>
                <!-- MOBILE ONLY -->
                <ul class="footer-module visible-xs">
                    <li><h5>Support</h5></li>
                    <li><a href="{{"/getstarted" | prepend: site.baseurl | replace: '//', '/'}}">mPOS Getting Started</a></li>
                    <li><a href="https://handpoint.atlassian.net/wiki/spaces/PD/overview">Help Center</a></li>
                </ul>
                <!-- END mobile only -->
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 footer-module">
                <ul>
                    <li><h5>Specs</h5></li>
                    <li><a href="{{"/specs/terminal-range" | prepend: site.baseurl | replace: '//', '/' }}">Range of Terminals</a></li>
                    <li><a href="{{"/specs/hilite" | prepend: site.baseurl | replace: '//', '/' }}">HiLite</a></li>
                    <li><a href="{{"/specs/hi5" | prepend: site.baseurl | replace: '//', '/' }}">Hi5</a></li>
                    <li><a href="{{"/specs/hipro" | prepend: site.baseurl | replace: '//', '/' }}">HiPro</a></li>
                    <li><a href="{{"/specs/hiplus" | prepend: site.baseurl | replace: '//', '/' }}">HiPlus</a></li>
                    <li><a href="{{"/specs/mpos" | prepend: site.baseurl | replace: '//', '/' }}">Handpoint mPOS App</a></li>
                    <li><a href="{{"/specs/apis" | prepend: site.baseurl | replace: '//', '/' }}">APIs</a></li>
                    <li><a href="{{"/specs/paymenttypes" | prepend: site.baseurl | replace: '//', '/' }}">Payment Types</a></li>
                    <li><a href="{{"/specs/security" | prepend: site.baseurl | replace: '//', '/' }}">Security</a></li>
                    <li><a href="{{"/specs/hiway" | prepend: site.baseurl | replace: '//', '/' }}">HiWay Gateway</a></li>
                    <li><a href="{{"/specs/acquirersprotocols" | prepend: site.baseurl | replace: '//', '/' }}">Protocols & Acquiring Platforms</a></li>
                    <li><a href="{{"/specs/geographies" | prepend: site.baseurl | replace: '//', '/' }}">Geographies</a></li>
                    <li><a href="{{"/specs/paxa80" | prepend: site.baseurl | replace: '//', '/' }}">COMING SOON! PAX A80</a></li>
                    <li><a href="{{"/specs/paxa920" | prepend: site.baseurl | replace: '//', '/' }}">COMING SOON! PAX A920</a></li>
                    <li><a href="{{"/specs/TPS900" | prepend: site.baseurl | replace: '//', '/' }}">COMING SOON! TPS900</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2 hidden-xs">
                <ul>
                    <li><h5>Support</h5></li>
                    <li><a href="{{"/getstarted" | prepend: site.baseurl | replace: '//', '/'}}">mPOS Getting Started</a></li>
                    <li><a href="https://handpoint.atlassian.net/wiki/spaces/PD/overview">Help Center</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 footer-module">
                <ul>
                    <li><h5>Insights</h5></li>
                    <li><a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}">About Handpoint</a></li>
                    <li><a href="https://www.nextgenpos.com">NextGenPos</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 hidden-xs">
                <img src="{{"/img/logo_footer.svg" | prepend: site.baseurl | replace: '//', '/'}}" alt=""/>
                <ul class="footer-social list-inline">
                    <li><a href="https://www.facebook.com/Handpoint"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/handpoint/"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/handpointltd"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
                <p><b>UK Office</b><br>
                20 Bridge St.<br>
                Cambridge, CB2 1UF</p>

                <p><b>US Office</b><br>
                470 Ramona St.<br>
                Palo Alto, CA 94301</p>

                <p><b>Iceland Office</b><br>
                Borgartun 27<br>
                105 Reykjavik</p>

                <p><b>Spain Office</b><br>
                Plaza Soledad Torres Acosta 1<br>
                28004 Madrid</p>
            </div>
        <!-- END col -->
        </div>
        <div class="row">
            <div class="col-md-12 footer-bottom">
            ©2019 - All rights reserved . <a href="https://www.handpoint.com/docs/device/Basics/">API Documentation</a> . <a href="{{ "/privacypolicy" | prepend: site.baseurl | replace: '//', '/' }}">Privacy Policy</a>  
            </div>
        </div>
            
    </div>
</div>
