<nav class="navbar navbar-default navbar-custom" id="navbar-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{{"/img/logo.svg" | prepend: site.baseurl | replace: '//', '/'}}" alt=""/></a>
        </div>
        <!-- collapse --> 
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right navbar-nav-right">
                <li><button class="btn btn-default dropdown-toggle nav-bt-drop" ><a href="/solutionsfordevelopers">Solutions for Developers</a></button></li>
                <li><button class="btn btn-default dropdown-toggle nav-bt-drop" ><a href="/solutionsfordevelopers"><a href="/acquirers">Products for Acquirers</a></button></li>
                <li><button class="btn btn-default dropdown-toggle nav-bt-drop" ><a href="/solutionsfordevelopers"><a href="/management">Management Platform</a></button></li>
                <li>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle nav-bt-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Specs <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{"/specs/terminal-range" | prepend: site.baseurl | replace: '//', '/' }}">Range of Terminals</a></li>
                            <li><a href="{{"/specs/hilite" | prepend: site.baseurl | replace: '//', '/' }}">HiLite</a></li>
                            <li><a href="{{"/specs/hi5" | prepend: site.baseurl | replace: '//', '/' }}">Hi5</a></li>
                            <li><a href="{{"/specs/hipro" | prepend: site.baseurl | replace: '//', '/' }}">HiPro</a></li>
                            <li><a href="{{"/specs/hiplus" | prepend: site.baseurl | replace: '//', '/' }}">NEW! HiPlus</a></li>
                            <li><a href="{{"/specs/mpos" | prepend: site.baseurl | replace: '//', '/' }}">Handpoint mPOS App</a></li>
                            <li><a href="{{"/specs/apis" | prepend: site.baseurl | replace: '//', '/' }}">APIs</a></li>
                            <li><a href="{{"/specs/paymenttypes" | prepend: site.baseurl | replace: '//', '/' }}">Payment Types</a></li>
                            <li><a href="{{"/specs/security" | prepend: site.baseurl | replace: '//', '/' }}">Security</a></li>
                            <li><a href="{{"/specs/hiway" | prepend: site.baseurl | replace: '//', '/' }}">HiWay Gateway</a></li>
                            <li><a href="{{"/specs/acquirersprotocols" | prepend: site.baseurl | replace: '//', '/' }}">Protocols & Acquiring Platforms</a></li>
                            <li><a href="{{"/specs/geographies" | prepend: site.baseurl | replace: '//', '/' }}">Geographies</a></li>
                            <li><a href="{{"/specs/paxa80" | prepend: site.baseurl | replace: '//', '/' }}">COMING SOON! PAX A80</a></li>
                            <li><a href="{{"/specs/paxa920" | prepend: site.baseurl | replace: '//', '/' }}">COMING SOON! PAX A920</a></li>
                        </ul>
                    </div>  
                </li>
               <li>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle nav-bt-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Insights <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}">About Handpoint</a></li>
                            <li><a href="https://www.nextgenpos.com">NextGenPos</a></li>
                        </ul>
                    </div>  
                </li>
                <li>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle nav-bt-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Support <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{"/getstarted" | prepend: site.baseurl | replace: '//', '/'}}">mPOS Getting Started</a></li>
                            <li><a href="https://handpoint.atlassian.net/wiki/spaces/PD/overview">Help Center</a></li>
                        </ul>
                    </div>  
                </li>
                <li class="hidden-lg"><a href="{{"/contact" | prepend: site.baseurl | replace: '//', '/'}}">Contact Us</a></li>
                <li><a class="btn btn-default nav-bt-special visible-lg" href="{{"/contact" | prepend: site.baseurl | replace: '//', '/'}}" role="button">Contact Us</a></li>
            </ul>
        </div>
        <!-- END collapse -->
    </div>
</nav>
<!-- END nav -->