<div class="hero-carousel">
	<div class="row">
		<div class="col-md-12">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img src="https://handpoint.imgix.net/Website%20refresh%20photos/Backgrounds/HANPOINT-009e.jpg?rect=0,200,2000,1202"
							alt="First slide" class="imglite">
					</div>
					<div class="item">
						<img src="https://handpoint.imgix.net/Website%20refresh%20photos/Backgrounds/hero-carousel2.png"
							alt="Second slide" class="imglite">
					</div>
				</div>

				<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>

			</div>

			<div class="main-text hidden-xs">
				<!-- my content -->
				<div class="hero-box">
					<h1>{{ page.hero.title }}</h1>
					<p>
						{{ page.hero.description }}
					</p>
					<a class="btn btn-default bt-custom-out-wh" href={{page.hero.buttonlink}} role="button">
						{{ page.hero.buttontxt}}
					</a>
					<p class="hero-box-small">{{ page.hero.hypertext }}</p>
				</div>
				<!-- END tmy content -->
			</div>
		</div>
	</div>
</div>
<div id="push">
</div>
<!-- MOBILE ONLY -->
<div class="hero-box visible-xs">
	<div class="container">
		<h1>{{ page.hero.title }}</h1>
		<p>
			Grow with Handpoint’s Integrated Payments Platform for <span id="js-mobile-rotating"
				class="hero-box-specialtxt">Acquirers , ISOs, ISVs</span>
		</p>
		<a class="btn btn-default bt-custom-out-wh" href={{page.hero.buttonlink}} role="button">
			{{ page.hero.buttontxt}}
		</a>
		<p class="hero-box-small">{{ page.hero.hypertext }}</p>
	</div>
</div>
<!-- END mobile only -->
