<div class="container">
	<div class="row">
	    <div class="hero-internal-box col-md-5 col-sm-5">
		    <h1>{{page.hero.title}}</h1>
		    {% if page.hero.subtitle %}
		    <h2>{{page.hero.subtitle}}</h2>
		    {% endif %}
		    {% if page.hero.description %}
		    <p>{{ page.hero.description}}<br>
				<span class="hero-box-specialtxt">{{page.hero.linetxt}}</span>
			</p>
			{% endif %}
			{% if page.hero.buttontxt %}
			<a class="btn btn-default bt-custom-out-wh" href={{ page.hero.buttonlink }} role="button">
				{{ page.hero.buttontxt }}
			</a>
			{% endif %}
		    	{% if page.hero.hypertext %}
			<p class="hero-box-small">{{ page.hero.hypertext }}</p>
			{% endif %}
		    						
	    </div>
	</div>
</div>
