<div class="section section-lightcolor section-internal-paymenttypes-module">
	<div class="row">
		<div class="col-md-4 col-sm-6 col-md-offset-1 col-sm-offset-0">
			<img src={{ page.singleSection.image }} class="img-responsive" alt=""/>
		</div>
		<div class="col-md-5 col-sm-6 col-md-offset-1 col-sm-offset-0 section-internal-solutions-module-txt">
			<h3>{{ page.singleSection.title }}</h3>
			<p>{{ page.singleSection.description }}</p>
			<div class="section-internal-bottom" style="text-align: left; margin-top:-20px;">
			<a class="btn btn-default bt-custom-out" href={{ page.singleSection.buttonlink }} role="button">{{ page.singleSection.buttontxt }}</a>
			</div>
		</div>
	</div>
</div>