<div class="section section-lightcolor section-internal-paymenttypes-module">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-2">
				<h1>{{ page.video.title }}</h1>
			</div>
		</div>
		<div class="row">
			<video width="320" height="240" controls>
				<source src="{{ page.video.url }}" type="video/mp4">
				Your browser does not support the video tag.
			</video>
		</div>
		<div class="row">
			<p>{{ page.video.subtext }}"</p>
		</div>
		<div class="row text-center">
			<div class="col-md-12">
				<a class="btn btn-default bt-custom-out" href={{ page.video.buttonlink }} role="button">
					{{ page.video.buttontext }}
				</a>
			</div>
		</div>
	</div>
</div>