<!DOCTYPE html>
<html lang="en">
	{% include head.html %}	
	<body>
		{% include header.html %}
		<div class="hero-internal hero-acquirer">
			{% include hero.html %}
		</div>
		<div class="section section-lightcolor blurbs-solutions">
			{% include blurbs.html %}
		</div>
		<div class="section section-internal section-internal-paymenttypes">
			<div class="container">
				<div class="row section-internal-paymenttypes-module">
					<div class="col-md-4 col-sm-6 col-md-offset-1 col-sm-offset-0">
						<img src={{page.m-terminal.image}} class="img-responsive" alt=""/>
					</div>
					<div class="col-md-5 col-sm-6 col-md-offset-1 col-sm-offset-0 section-internal-solutions-module-txt">
						<h3>{{page.m-terminal.title}}</h3>
						<p>{{page.m-terminal.description}}</p>
						<div class="section-internal-bottom" style="margin-top:-20px;">
							<a class="btn btn-default bt-custom-out" href="#" role="button">{{page.m-terminal.buttontxt}}</a>
						</div>
					</div>
				</div>
				<div class="row section-internal-paymenttypes-module">
					<div class="visible-xs">
						<img src={{page.standalone.image}} class="img-responsive" alt=""/>
					</div>
					<div class="col-md-5 col-sm-6 col-md-offset-1 col-sm-offset-1 section-internal-solutions-module-txt">
						<h3>{{page.standalone.title}}</h3>
						<p>{{page.standalone.description}}</p>
						<div class="section-internal-bottom" style="margin-top:-20px;">
							<a class="btn btn-default bt-custom-out" href="#" role="button">{{page.standalone.buttontxt}}</a>
						</div>
					</div>
					<div class="col-md-3 col-sm-5 col-md-offset-1 col-sm-offset-0 hidden-xs">
						<img src={{page.standalone.image}} class="img-responsive" alt=""/>
					</div>
				</div>
				<div class="row section-internal-paymenttypes-module">
					<div class="col-md-3 col-sm-4 col-md-offset-2 col-sm-offset-1">
						<img src={{page.mpos.image}} class="img-responsive" alt=""/>
					</div>
					<div class="col-md-5 col-sm-6 col-md-offset-1 col-sm-offset-1 section-internal-solutions-module-txt">
						<h3>{{page.mpos.title}}</h3>
						<p>{{page.mpos.description}}</p>
						<div class="section-internal-bottom" style="margin-top:-20px;">
							<a class="btn btn-default bt-custom-out" href="#" role="button">{{page.mpos.buttontxt}}</a>
						</div>
					</div>
				</div>
				<div class="row section-internal-paymenttypes-module">
					<div class="visible-xs">
						<img src={{page.payment-apis.image}} class="img-responsive" alt=""/>
					</div>
					<div class="col-md-5 col-sm-6 col-md-offset-1 col-sm-offset-0 section-internal-solutions-module-txt">
						<h3>{{page.payment-apis.title}}</h3>
						<p>{{page.payment-apis.description}}</p>
						<div class="section-internal-bottom" style="margin-top:-20px;">
							<a class="btn btn-default bt-custom-out" href="#" role="button">{{page.payment-apis.buttontxt}}</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-md-offset-1 col-sm-offset-0 hidden-xs">
						<img src={{page.payment-apis.image}} class="img-responsive" alt=""/>
					</div>
				</div>
				<div class="row section-internal-paymenttypes-module section-internal-paymenttypes-module-small">
					<div class="col-md-2 col-sm-3 col-md-offset-2 col-sm-offset-1">
						<img src={{page.m-extensions.image}} class="img-responsive" alt=""/>
					</div>
					<div class="col-md-5 col-sm-6 col-md-offset-2 col-sm-offset-1 section-internal-solutions-module-txt">
						<h3>{{page.m-extensions.title}}</h3>
						<p>{{page.m-extensions.description}}</p>
						<div class="section-internal-bottom" style="margin-top:-20px;">
							<a class="btn btn-default bt-custom-out" href="#" role="button">{{page.m-extensions.buttontxt}}</a>
						</div>
					</div>
				</div>
				<div class="row section-internal-paymenttypes-module">
					<div class="visible-xs">
						<img src={{page.omni-enabled.image}} class="img-responsive" alt=""/>
					</div>
					<div class="col-md-5 col-sm-6 col-md-offset-1 col-sm-offset-0 section-internal-solutions-module-txt">
						<h3>{{page.omni-enabled.title}}</h3>
						<p>{{page.omni-enabled.description}}</p>
						<div class="section-internal-bottom" style="margin-top:-20px;">
							<a class="btn btn-default bt-custom-out" href="#" role="button">{{page.omni-enabled.buttontxt}}</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-md-offset-1 col-sm-offset-0 hidden-xs">
						<img src={{page.omni-enabled.image}} class="img-responsive" alt=""/>
					</div>
				</div>
				<div class="row section-internal-paymenttypes-module section-internal-paymenttypes-module-smaller">
					<div class="col-md-2 col-sm-3 col-md-offset-2 col-sm-offset-1">
						<img src={{page.smartpos.image}} class="img-responsive" alt=""/>
					</div>
					<div class="col-md-5 col-sm-6 col-md-offset-1 col-sm-offset-1 section-internal-solutions-module-txt">
						<h3>{{page.smartpos.title}}</h3>
						<p>{{page.smartpos.description}}</p>
						<div class="section-internal-bottom" style="margin-top:-20px;">
							<a class="btn btn-default bt-custom-out" href="#" role="button">{{page.smartpos.buttontxt}}</a>
						</div>
					</div>
				</div>
				<div class="row section-internal-paymenttypes-module section-internal-paymenttypes-module-smaller">
					<div class="visible-xs">
						<img src={{page.softpos.image}} alt=""/>
					</div>
					<div class="col-md-5 col-sm-6 col-md-offset-1 col-sm-offset-0 section-internal-solutions-module-txt">
						<h3>{{page.softpos.title}}</h3>
						<p>{{page.softpos.description}}</p>
						<div class="section-internal-bottom" style="margin-top:-20px;">
							<a class="btn btn-default bt-custom-out" href="#" role="button">{{page.softpos.buttontxt}}</a>
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-md-offset-2 col-sm-offset-2 hidden-xs">
						<img src={{page.softpos.image}} class="img-responsive" alt=""/>
					</div>
				</div>
			</div>
		</div>
		
		{% include acquire-cloudlogos.html %}
		{% include contact-form.html %}
		{% include footer.html %}
		{% include js.html %}
	</body>
</html>