<!DOCTYPE html>
<html lang="en">
	{% include head.html %}	
	<body>
		{% include header.html %}
		<div class="hero-internal hero-contact">
			{% include hero.html %}
		</div>
		<div class="section section-contact-intro">
			<div class="container text-center">	
				<div class="row">
					<div class="col-md-8 col-sm-offset-2">
						<h2>{{ page.intro.title }}</h2>
						<p>{{ page.intro.description }}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="section-contact-slider">
			{% include icon-slider.html %}
		</div>	
		<div class="section section-contact-intro">
			<div class="container text-center">	
				<div class="row">
					<div class="col-md-8 col-sm-offset-2">
						<p>{{page.contact-intro}}</p>
					</div>
				</div>
			</div>
		</div>
		{% include contact-form.html %}
		<div class="section cta-contact">
			<div class="container">	
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
						<h3>{{page.cta.title}} <span style="cursor: pointer;" class="hero-box-specialtxt" onclick="zE.activate({hideOnClose: true});">click here</span></h3>
						<p>{{page.cta.description}}</p>
					</div>
				</div>
			</div>
		</div>
	
		{% include footer.html %}
		{% include js.html %}
	</body>
</html>
