<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
	<!--NAV -->
	{% include header.html %}
	{% include hero-carousel.html %}
        <!-- SLIDER TESTIMONIALS -->
	{% include carousel.html %}
	{% include landing-blurbs.html %}
	{% include landing-solutions.html %}
	<div class="section section-businessicons">
		<div class="container text-center">
			<h1>{{page.businessicons.title}}</h1>
			<h3>{{page.businessicons.subtitle}}</h3>
		</div>
		{% include icon-slider.html %}
	</div>
	<!-- SLIDER TESTIMONIALS -->
	{% include carousel.html %}
<!-- CTA -->
	<div class="section cta">
		<div class="container">
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<h1>{{page.cta.title}}</h1>
				<a class="btn btn-default bt-custom-out-wh" href={{ page.cta.buttonlink }} role="button">
					{{page.cta.buttontxt}}
				</a>
			</div>
		</div>
	</div>
	{% include cloudlogos.html %}
	{% include contact-form.html %}
	{% include footer.html %}
	{% include js.html %}
</body>

</html>
