<!DOCTYPE html>
<html lang="en">
	{% include head.html %}	
	<body>
		{% include header.html %}
	<div class="container">
		<div class="row text-center">
			<h1><br>Create a World-Class Payments Experience</h1>
			<br>
		</div>
	</div>
		
		<div class="section section-lightcolor blurbs-solutions">
			{% include blurbs.html %}
		</div>
		<div class="section section-internal section-internal-paymenttypes">
			{% include solution-content.html %}
		</div>
			{% include single-section.html %}
		<div class="section">
	<div class="container">
		<div class="row text-center">
			<h1>Choose the partner that lets you start fast and evolve over time</h1>
			<br>
		</div>
		<div class="row">
			<table class="table table-striped table-custom apis-table">
			  <tbody>
			    <tr class="table-custom-header">
			      <td style="vertical-align: bottom;">&nbsp;</td>
			      <td style="vertical-align: bottom;">HANDPOINT STARTER<br>Start growing with payments</td>
			      <td style="vertical-align: bottom;">HANDPOINT GROWTH<br>Own more of the customer journey</td>
			      <td style="vertical-align: bottom;">HANDPOINT PRO<br>Infrastructure for <br>licensed payments institutions</td>
			    </tr>
			    <tr>
			     <td><br><b><u>BUSINESS MODEL</b></u></td>
			      <td>&nbsp;</td>
			      <td>&nbsp;</td>
			      <td>&nbsp;</td>
			    </tr>
			    <tr>
			      <td class="text-left"><b>Customer Pricing</b></td>
			      <td class="text-left">Standard Program</td>
			      <td class="text-left">Customized Programs</td>
			      <td class="text-left">You decide</td>
			    </tr>
			    <tr>
			      <td class="text-left"><b>Revenue Potential</b></td>
			      <td class="text-left">Standard Program</td>
			      <td class="text-left">Customized Programs</td>
			      <td class="text-left">You decide</td>
			    </tr>
			    <tr> 
			      <td class="text-left"><b>Earning Potential</b></td>
			      <td class="text-left">Strategic</td>
			      <td class="text-left">Transformational</td>
			      <td class="text-left">You decide</td>
			    </tr>
		            <tr>
			      <td><br><br><b><u>CUSTOMER ONBOARDING</b></u></td>
			      <td>&nbsp;</td>
			      <td>&nbsp;</td>
			      <td>&nbsp;</td>
			   </tr>
		           <tr>
			     <td class="text-left"><b>Branding</b></td>
			      <td class="text-left">Co-Branded</td>
			      <td class="text-left">Co-Branded</td>
			      <td class="text-left">Your Brand</td>
			    </tr>
			    <tr>
			      <td class="text-left"><b>KYC/AML</b></td>
			      <td class="text-left">Managed</td>
			      <td class="text-left">Managed</td>
			      <td class="text-left">You control</td>
			    </tr>
			    <tr>
			      <td class="text-left"><b>Webstore for Hardware</b></td>
			      <td class="text-left">Handpoint-branded</td>
			      <td class="text-left">Co-branded</td>
			      <td class="text-left">Full branding</td>
			    </tr>
			    <tr>
			      <td class="text-left"><b>Terminal Deployment</b></td>
			      <td class="text-left">Managed</td>
			      <td class="text-left">Optional</td>
			      <td class="text-left">Optional</td>
			    </tr>
			    <tr>
			      <td class="text-left"><b>Control</b></td>
			      <td class="text-left">Modest</td>
			      <td class="text-left">Brand Forward</td>
			      <td class="text-left">Total Ownership</td>
			    </tr>
		            <tr>
			      <td><br><br><b><u>RISK & COMPLIANCE</b></u></td>
			      <td>&nbsp;</td>
			      <td>&nbsp;</td>
			      <td>&nbsp;</td>
			    </tr>
			    <tr>
			      <td class="text-left"><b>Risk</b></td>
			      <td class="text-left">No Risk</td>
			      <td class="text-left">Hybrid</td>
			      <td class="text-left">Full Liability</td>
			    </tr>
			    <tr>
			      <td class="text-left"><b>Regulatory Burden</b></td>
			      <td class="text-left">Managed</td>
			      <td class="text-left">Managed</td>
			      <td class="text-left">Registered and Compliant</td>
			    </tr>
			    <tr>
			      <td><b><u>TIME TO MARKET</b></u></td>
			      <td class="text-left"><b>0-2 Months</b></td>
			      <td class="text-left"><b>2-4 Months</b></td>
			      <td class="text-left"><b>6-18 Months</b></td>
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="row text-center">
			<div class="col-md-12"><br><br>
				<p><b>Check out the Handpoint Developer Portal for lots more information!</b></p><br>
			<a class="btn btn-default bt-custom-out" href="https://www.handpoint.com/docs/device/Basics/" role="button">GET STARTED</a>
			</div>
		</div>
	</div>	
</div>

		
		
		<div class="section section-orange">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 section-internal-intro">	
						<h1>{{page.security.title}}</h1>	
						<p>{{page.security.description}}</p>
					</div>
				</div>
				<div class="row">
					{% for blurb in page.security.list %}
					<div class="blurb-media blurb-media-solutions col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0">
					  	<div class="pull-left">
					    	<img src={{ blurb.image }} alt=""/>
					  	</div>
					  	<div class="media-body">
							<p>{{blurb.description}}</p>
					  	</div>
					</div>
					{% endfor %}
				</div>


			</div>
		</div>	
		{% include cloudlogos.html %}
		{% include footer.html %}
		{% include js.html %}
	</body>
</html>
