<!DOCTYPE html>
<html lang="en">
	{% include head.html %}	
	<body>
		{% include header.html %}
		<div class="hero-internal {{page.hero.class}}">
	      <!--{% include hero.html %}-->
	    </div>
	    {% if page.intro %}
		<div class="section section-internal">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 section-internal-intro"> 
						<h1>{{ page.intro.title }}</h1> 
						<p>{{ page.intro.description }}</p>
						{% if page.intro.buttontxt %}
						<a class="btn btn-default bt-custom-out" href={{page.intro.buttonlink}} role="button">{{page.intro.buttontxt}}</a>
						{% endif %}
					</div>
				</div>  
			</div>
		</div>
	    {% endif %}
	    <div>
	    	{{ content }}
	    </div>
		{% include footer.html %}
		{% include js.html %}
	</body>
</html>
